
@import url('https://fonts.googleapis.com/css?family=Cabin');


html, body, h4, h5, h6 {
    font-family: 'Cabin', sans-serif;
    background-color: #91CBCA;
    color: #F0F4F8;
}


h1, h3, h2 {
    font-family: 'Cabin', sans-serif;
    color: #495057;
    font-weight: bold;
}

body {
    font-family: 'Cabin';
    background-color: #91CBCA;
    /*    position: relative;
        min-height: 100vh;*/
}

.navbar {
    background-color: #495057;
}

.navbar a:hover{
    color:#91CBCA; 
}

.nav-right {
    color: #91CBCA;
}

.nav-right:hover {
    color: #91CBCA;
}

.navbar-toggler {
    border-color: #91CBCA;
}

footer {
    background-color: #495057;
    color: #F0F4F8;
}

.footer-columns {
/*        padding-left: 100px;
        padding-right: 100px;*/
    width: 400px;
    float: none;
    margin-right: auto;
    margin-left: auto;
}

.footer-headings {
    background-color: #495057;  
}

.footer-writing {
    color: #91CBCA;
}


a {
    color: #F0F4F8; 
}

.fa {
    color: #F0F4F8;   
}

#home-page-top-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

#search-bar-container {
    padding-bottom: 70px;
}

#cards-container {
    padding-bottom: 45px;
}

.search-box {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #F0F4F8;
}

.btn {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: #495057;
    color: #F0F4F8; 
    border: 1px solid #495057;
}

.btn:hover {
    background-color: #495057;
    color: #F0F4F8; 
    border: 1px solid #495057;
}

.card {
    color: #495057;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}

.card-text {
    color: #495057;
}

p, a {
    color: #F0F4F8; 
}

.list-unstyled {
    color: #91CBCA;
}

.login-container {
    margin-top: 50px;
    text-align: center; 
}

.login-input {
    border-radius: 5px;
    width: 250px;
    margin: 0 auto;
    background-color: #F0F4F8;
    padding-top: 12px;
    padding-bottom: 12px;
}

.login-text-username {
/*    margin-right: 178px;*/
    color: #495057;
}

.login-text-password {
    margin-right: 90px;
    color: #495057;
    display:inline-block;
}

.forgot-password {
    font-size: 12px;
    color: #495057;   
    display:inline-block;
}

.remember-me {
    color: #495057;
    font-size: 14px;
    margin-right: 140px;
    margin-bottom: 8px;
}

.dont-have-account-register {
    color: #495057;
    font-size: 12px;
}

.w3-container {
    min-height: 70vh;
}

#dinosaur{
    padding-top: 12px;
    padding-bottom: 12px;
    inline-box-align: center;
}

#searchResults-cards-container {
    padding-top: 40px;
}


#radio-text {
    color: #495057;
}

#firstName {
    
}

#lastName {
    
}

#contentid{
    height:250px;
    word-wrap: break-word;
    word-break: break-all; 
}

.control-label{
    padding-top: 12px;
    padding-bottom: 12px;
}

.register-long-input {
    width: 535px;
}

@media only screen and (max-width: 600px) {
.register-long-input {
    width: 250px;
}
}