.customcard {
    margin: 10px;
    cursor: pointer;
}
.newsletter {
    margin-top: 120px;
}
.logo {
    padding-top: 10px;
}
.customnav {
    padding-bottom: 10px;
}
footer {
    padding-top: 20px;
}
ul {
    text-decoration: none;
    list-style: none;
}

hr {
    position: relative;
    border: none;
    height: 1px;
    background: #ddd;
}


/*animated section styling*/
.animated {
    height: 400px;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 600% 600%;
    -webkit-animation: Gradient 60s ease infinite;
    -moz-animation: Gradient 60s ease infinite;
    animation: Gradient 60s ease infinite;
}
@-webkit-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

