body,h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
}
.w3-tangerine {
    font-family: 'Montserrat', sans-serif;
}
.w3-pacifico {
    font-family: 'Montserrat', sans-serif;
}

.header{
    text-align: center;
}
 /* The navbar container */
.topnav {
  overflow: hidden;
  background-color: lightgrey;

}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: green;
} 


body, html {
  height: 200%;
  text-align: centre;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("views/images/HCH_1772.jpg");

  min-height: 700px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 12px;
  background-color: white;
  opacity: 0.9;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 15px 12px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 5;
}

