

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;

}


.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}


.form-signin {
    width: 100%;
}

.form-signin .btn {
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 0.5rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /*  Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

/*masthead*/
.masthead {
    height: 100px;
    /*  min-height: 100px;*/
    background-image: url("pawsomebanner.jpg") no-repeat center center fixed; 
    /*    background-color: blue;*/
    /*  background-size: cover;*/
    /*  background-position: center;
      background-repeat: no-repeat;
        margin-bottom: 2rem; */
}


/*
https://www.w3schools.com/howto/howto_css_button_on_image.asp*/

/* Container needed to position the button. Adjust the width as needed */
.imagecontainer {
  position: relative;
/*  width: 50%;*/
}

.imagecontainer img {
    background:url("home.png") no-repeat center center fixed;
/*    background-size: cover;
    background-color: #fff;*/
/*    height: 100%;*/
}
/*Taken from previous project CSS file*/

/* Make the image responsive 
.imagecontainer img {
  width: 100%;
  height: auto;
}*/

/* Style the button and place it in the middle of the container/image */
.imagecontainer .btn {
  position: absolute;
  top: 90%;
  left: 67%;
  transform: translate(-90%, -67%);
  -ms-transform: translate(-90%, -67%);
  background-color: #2C3E50;
  color: white;
  font-size: 16px;
/*  padding: 12px 24px;*/
  border: none;
  cursor: pointer;
/*  width: auto;
  height: auto;*/
/*  border-radius: 5px;*/
}

.imagecontainer .btn:hover {
  background-color: teal;
}