@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');

/*default override*/
* {
    font-family: 'Roboto', sans-serif;
}
ul {
    text-decoration: none;
    list-style: none;
}

hr {
    position: relative;
    border: none;
    height: 1px;
    background: #ddd;
}
h1, h2, h3, h4, h5 {
    font-family: 'Varela Round', sans-serif;
}


/*section padding*/
footer {
    padding-top: 20px;
}
section{
    padding: 50px;
}
.smalltext{
    font-size: 11px;
}



.laptop {
    position: absolute;
    top: -20px;
    width: 650px;
    z-index: 5;
    overflow:hidden;
}

.customcard {
    margin: 10px;
    cursor: pointer;
}
.newsletter {
    margin-top: 120px;
}
.logo {
    padding-top: 10px;
}




/*navigation styling*/
.customnav {
    padding-bottom: 10px;
    
}
.nav-link {
    font-family: 'Varela Round', sans-serif;
    color: black;
    transition:color .5s;
}
.nav-link:hover {
    color: #23a6d5;
    border-bottom: 1px solid;
    padding-bottom: 0px;
}


/*animated section styling*/
.animated {
    overflow:hidden;
    height: 400px;
    width: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 600% 600%;
    -webkit-animation: Gradient 60s ease infinite;
    -moz-animation: Gradient 60s ease infinite;
    animation: Gradient 60s ease infinite;
}
@-webkit-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.animated-container{
    /*border: 3px solid #fff;*/
    padding: 50px;
    margin: 80px 0;
}